* {font-family: Arial; }

body {
	background-color:#00584D;
	margin: 50px 100px 50px 100px;
}
h1 {
	color: #FFC842;
	font-size: 2.25em;
}
p {
	color: #FBFBFF;
}
a:link {
	color: #01BAEF;
	background-color: #B80C09;
	font-size: 1.5em;
	border:2px outset #B80C09;
	border-radius: 3px;
	padding: 5px;
	text-decoration: none;
	display: inline-block;
}
a:visited {
	color: #01BAEF;
	background-color: #B80C09;
	font-size: 1.5em;
	border:2px outset #B80C09;
	text-decoration: none;
}
a:hover {
	color: #10CBFC;
	background-color: #B80C09;
	font-size: 1.5em;
	border:2px solid #B80C09;
	text-decoration: none;
}
a:active {
	color: #01BAEF;
	background-color: #B80C09;
	font-size: 1.5em;
	border:2px inset #B80C09;
	text-decoration: none;
}
fieldset {
	border:2px solid #FFC842;
	padding: 15px;
}
legend {
	color: #FFC842;
	/*border:2px solid #FFC842;*/
	background-color: #B80C09;
	font-size: 24px;
}
label {
	color: #FBFBFF;
	line-height: 2.5;
}

